.contentForm .container-fluid input{
    border-bottom: 2px solid black !important;
    box-shadow: none ;
}

.contentForm .container-fluid label{

 position: relative;
 top: -2.3rem;
 padding-left: 5px;

}

.contentForm .container-fluid input:valid+label,input.form-control:focus+label{
    position: relative;
    top: -4rem;
    color: brown;
}
